#conc{
	padding-top: 90px;
	

}
#co{
	font-family: 'Freckle Face', cursive;
	font-size: 2em;


}
#bd{
	font-family: 'Freckle Face', cursive;
	font-size: 2em;
}
body{
	background: url(http://www.jsw.in/sites/default/files/assets/cache/images//contact-us-herobanner1200x658-resize-1200x658-a7542dd51f-31f5c997f370eb68.jpeg);
	background-repeat: no-repeat;
	background-size: cover;

}
.c1{
font-family: 'Freckle Face', cursive;
	font-size: 20px;
}
.c2{
	font-size: 25px;
}