body{
	background:url(5.jpg);
	background-repeat: no-repeat;
	background-position: center; 
}
#head{
	background:url(); 
}
#hi{
	border:5px solid white; 
}
h1{
	font-size: 400px: ;
	background: url()   ;
	background-repeat: no-repeat;
    padding: 0 200px 50px 60px;
}
#hello{
	text-align: left;
	padding:0px ;
	background:rgba(100,150,120,0.8);
}
.ch{
	text-decoration: none;
	padding-right: 85px ;
	background:rgba(255,255,255,1);
}
.li{
	padding:20px;
}
#h{
	font-size: 1.5em;
}

#i1{
	background: url(img.gif);
	padding:200px 200px 200px 200px;
	margin: auto auto auto auto;
	
}
#conc{
	font-size: 2em;
	border: 20px solid black;
	padding:200px;
	margin:auto auto auto auto;
}
.dropbtn {
    background-color: #3498DB;
    color: rgb(100,220,150);
    padding: 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: white;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover 
{
	background-color: #ddd;
}

.show 
{
	display:block;
}

