body{
	
 background-image: url(pawel-czerwinski-DNC3cXM0lMU-unsplash.jpg);
  
  background-position: center center;
  
  
  background-repeat: no-repeat;
  
  background-attachment: fixed;
  
  
  background-size: cover;
  
  
  background-color:#464646;
  
   
    background: url(pawel-czerwinski-DNC3cXM0lMU-unsplash.jpg) center center cover no-repeat fixed;
    }

